.App {
  text-align: center;
  background-color: #040C18;
  color: #eee;

}

.icon {
  color: yellow;
  font-size: 1.5rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.movie-card{
  width: 250px;
  height: 490px;
  position: relative;
  overflow: hidden;
  
}
.movie-card img{
  height: 370px;
  width: 250px;
  box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
}

.movie-card-info{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 7rem;
  background: linear-gradient(180deg,
        rgba(4, 21, 45, 0) 0%,
        #04152d 79.17%);
  opacity: 0;
}
.movie-card:hover .movie-card-info{
  opacity: 1;
  animation: 1s ease-in;
  /* transform: translateY(50%);
    animation-name: slide-up;
    animation-duration: 1s;
    animation-timing-function: ease-out; */
}
/* @keyframes slide-up {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
} */

form{
  margin-bottom: 5rem;
}

form input{
  padding: 0.8rem;
  border-radius: 20px;
  width: 30rem;
}
form button{
  padding: 0.5rem;
  border-radius: 20px;
  width: 10rem;
}



.card-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 2;
  margin: 0 6rem;

}

@media screen and (max-width: 700px){
  .card-list {
      display: grid;
      grid-template-rows: repeat(1, 1fr);
      justify-content: center;
      gap: 2;
      margin: 0 6rem;
  
    }
}


* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  /* background-color: #040C18; */
  
}
body{
  max-height: 100vh;
}

.form{
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 9rem;
}

form{
  display: flex;
  flex-direction: column;
  width: 50rem;
  gap: 10px;
  align-items: center;
}

.heroBanner {
  width: 100%;
  height: 450px;
  /* background-color: var(--black); */
  display: flex;
  align-items: center;
  position: relative;
}

  .backdrop-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    overflow: hidden;
  }
    .lazy-load-image-background {
      width: 100%;
      height: 100%;
    }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position:top;
      }

  .opacity-layer {
    width: 100%;
    height: 250px;
    background: linear-gradient(180deg,
        rgba(4, 21, 45, 0) 0%,
        #04152d 79.17%);
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .heroBannerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }
    .title {
      font-size: 50px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    .subTitle {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 40px;
    }

.input{
    padding: 1rem;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs{
  display: flex;
  gap: 3px;

}
.inputs input{
  font-size: 1.2rem;
  border-radius: 1.6rem;
  padding: .6rem;
}

  

