.App {
  text-align: center;
  background-color: #040C18;
  color: #eee;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.movie-card{
  width: 250px;
  height: 490px;

}
.movie-card img{
  height: 370px;
  width: 250px;
}

.card-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 2;

}
* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  /* background-color: #040C18; */
  
}
body{
  max-height: 100vh;
}

.form{
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 9rem;
}

form{
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 10px;

}

.heroBanner {
  width: 100%;
  height: 450px;
  background-color: var(--black);
  display: flex;
  align-items: center;
  position: relative;
}

  .backdrop-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    overflow: hidden;
  }
    .lazy-load-image-background {
      width: 100%;
      height: 100%;
    }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position:top;
      }

  .opacity-layer {
    width: 100%;
    height: 250px;
    background: linear-gradient(180deg,
        rgba(4, 21, 45, 0) 0%,
        #04152d 79.17%);
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .heroBannerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }
    .title {
      font-size: 50px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    .subTitle {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 40px;
    }
  

